
/* nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

*/

.navbar a{
  font-size: 1.7rem;
  color: white;
  margin-left: 4rem;
}

.navbar a:hover, 
.navbar a.current {
    color: #9593D9;
}

/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    li {
      float: left;
      a{
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      a:hover {
        background-color: #111;
      }
    }
  } */

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  //background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
  cursor: default;
}