
$--bg-color: #4B3F2F;
$second-bg-color: #333;
$--emp-color-1: #E28548;
$--emp-color-2: #F2BC50;
$text_color: #F5F5DC;
$--emp-color-3: #77852C;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


html{
    font-size: 62.5%;
    //overflow-x: hidden;
}

body{
    //padding-top: 65px;
    background-color: $--bg-color;
    color: $text_color;
}

section{
    min-height: 100vh;
    padding:10rem 9%;
}

.home-img img{
    max-width: 35%;
    height: auto;
    border-radius: 50%;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1{
    font-size: 10rem;
    font-weight: 700;
    line-height: 1.3;
}